#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

html, body, #root {
  height: 100%;
}

/* Control de visibilidad del RightSidebar para React */
.right-sidebar.open {
    right: 0 !important;
    visibility: visible !important;
    display: block !important;
}

